.header {
  margin-left: 20px;
}

.logoContainer {
  display: table-cell;
  vertical-align: middle;
  width: 350px;
  height: 80px;
  padding-left: 10px;
}

.logo {
  transition: all 0.4s ease-in-out;
  margin-bottom: 0;
  max-height: 100%;
  display: inline-block;
  float: none;
  vertical-align: middle;
  transform: translateZ(0);
}
.shrink {
  max-height: 60%;
}
.menuContainer {
  display: table-cell;
}
