.headerBig {
  background-color: #3a3a3a;
  width: 100%;
  display: table;
  position: fixed;
  padding: 10px 0;
  z-index: 99999;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.shrink {
  padding: 0px 0;
}

.headerSmall {
  background-color: #3a3a3a;
  // height: 70px;
  width: 100%;
  display: table;
  position: fixed;
  z-index: 99999;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}
